build==0.7.0
cffi==1.15.0
gpiod==1.5.3
-e git+ssh://git@github.com/jeffmakes/libgpiodhx711.git@bce5ab42a2f1e1247d8aaa211fca70b44126ff16#egg=gpiodhx711&subdirectory=python
packaging==21.3
pep517==0.12.0
pycparser==2.21
pylibgpiod-hx711-jeffmakes @ file:///home/somnolence/repos/pylibgpiod-hx711-pkg
pyparsing==3.0.9
RPi.GPIO==0.7.1
tomli==2.0.1
